/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "font-awesome-sprockets";
 @import "font-awesome";

 * {
   box-sizing: border-box;
 }

 body {
   margin: 0px;
   font-family: 'segoe ui';
 }

 .nav {
   height: 50px;
   width: 100%;
   background-color: #4d4d4d;
   position: relative;
 }

 .nav > .nav-header {
   display: inline;
   float: left;

 }

 .nav > .nav-header > .nav-title {
   display: inline-block;
   font-size: 22px;
   color: #fff;
   padding: 10px 10px 10px 10px;
 }

 .nav > .nav-btn {
   display: none;
 }

 .nav > .nav-links {
   display: inline;
   float: left;
   font-size: 18px;
 }

 .nav > .nav-links > a {
   display: inline-block;
   padding: 13px 10px 13px 10px;
   text-decoration: none;
   color: #efefef;
 }

 .nav > .nav-links > a:hover {
   background-color: rgba(0, 0, 0, 0.3);
 }

 .nav > #nav-check {
   display: none;
 }

 @media (max-width:600px) {
   .nav > .nav-btn {
     display: inline-block;
     position: absolute;
     right: 0px;
     top: 0px;
   }
   .nav > .nav-btn > label {
     display: inline-block;
     width: 50px;
     height: 50px;
     padding: 13px;
   }
   .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
     background-color: rgba(0, 0, 0, 0.3);
   }
   .nav > .nav-btn > label > span {
     display: block;
     width: 25px;
     height: 10px;
     border-top: 2px solid #eee;
   }
   .nav > .nav-links {
     position: absolute;
     display: block;
     width: 100%;
     background-color: #333;
     height: 0px;
     transition: all 0.3s ease-in;
     overflow-y: hidden;
     top: 50px;
     left: 0px;
   }
   .nav > .nav-links > a {
     display: block;
     width: 100%;
   }
   .nav > #nav-check:not(:checked) ~ .nav-links {
     height: 0px;
   }
   .nav > #nav-check:checked ~ .nav-links {
     height: calc(100vh - 50px);
     overflow-y: auto;
   }
 }

 table, th, td {
   border: 1px solid black;
 }
